.board {
    

    &__row {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: $row-margin;
        justify-content: center;

        & .hexagon {
            width: $hexagon-width;
            height: 0;
            padding-bottom: 7.8%;
        }
    }
}
