.board {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    &__row {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: $row-margin;
        justify-content: center;

        & .hexagon {
            width: $hexagon-width;
            height: 0;
            padding-bottom: 7.8%;
        }
    }
}
