.play-phase {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 60px;

    &__turn {
        padding: 20px;
        text-align: center;
    }

    &__board {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    &__hqs {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 28%;
    }

    &__hq {
        $hq-padding: 8px;
        $hq-border: 2px;
        position: relative;
        height: 33%;
        display: flex;
        flex-direction: column;
        border: $hq-border solid gray;
        padding: $hq-padding;

        &-0 {
            background-color: white;
        }

        &-1 {
            background-color: red;
        }

        &-2 {
            background-color: black;
            filter: brightness(3);
        }

        &-3 {
            background-color: yellow;
        }
    }

    &__hq-store {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url('img/hexgrid.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    &__buttons {
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
}
