$hex-margin: 4px;
$row-margin: 4.7%;
$hex-gradient-amplitude: 30%;
$hex-base-color: #a1abb7;
$piece-margin: 10%;

$darkenLevelByCell: (
        (0,  3,  3,  6),
      (3,  2,  4,  2,  3),
    (3,  4,  3,  0,  4,  3),
  (6,  2,  0,  0,  3,  2,  0),
    (3,  4,  3,  0,  4,  3),
      (3,  2,  4,  2,  3),
        (0,  3,  3,  6),
);

$maxNumberOfCells: 7;
$total-margin: $maxNumberOfCells * $hex-margin;
$hexagon-width: calc((100% - #{$total-margin}) / #{$maxNumberOfCells});
